@import url("font-abel.css");

* {
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
}

body {
    background-image: url("../images/pattern-green.png");
}

.header {
    background: #222;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1.5em;
    text-align: center;
}

.header-title {
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;

}

.header-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.ltgt {
    color: tomato;
    display: inline-block;
    font-weight: bold;
    margin: 0 7px;
}

.subtitle-text {
    display: inline-block;
    font-size: 0.8em;
}

#david-ogbeide {
    border: 2px solid tomato;
    border-radius: 50%;
    margin: 30px auto;
    height: 250px;
    width: 250px;
    transition: 0.5s ease;
}

#david-ogbeide:hover {
    box-shadow: 1px 1px 5px rgba(0, 255, 188, 0.7);
    opacity: 0.8;
    transform: scale(1.08);
}

.main {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.title {
    font-weight: 600;
    font-size: 3rem;
}

.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

a.item {
    color: rgba(0, 0, 0, 0.5);
    display: block;
    margin: 12px;
    transition: 0.5s ease;
}

a.item:hover {
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.85;
    transform: scale(1.05);
}

a img {
    box-shadow: 5px 5px 6px 1px;
    border-radius: 20px;
    width: 300px;
    height: 240px;
}

.footer {
    background: rgba(41, 52, 71, 0.75);
    border-radius: 10px;
    margin-top: 1em;
    padding: 1.5em;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .header-title {
        font-size: 1.2rem;
    }

    #david-ogbeide {
        height: 200px;
        width: 200px;
    }

    a img {
        width: 250px;
        height: 200px;
    }
}
