.project {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 12px;
    padding: 15px;
    transition: 0.5s ease;
}

.project:hover {
    /* border: 2px solid rgba(92, 155, 223, 0.3); */
    box-shadow: 2px 3px 15px rgba(92, 155, 223, 0.7);
    border-radius: 20px;
    padding: 20px;
}

.project a {
    color: rgba(0, 0, 0, 0.5);
}

.project__img {
    box-shadow: 5px 5px 6px 1px;
    border-radius: 20px;
    width: 300px;
    height: 240px;
    transition: 0.5s ease;
}

.project__img:hover {
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.85;
    transform: scale(1.05);
}

.project__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.project__title {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.project__desc {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 500px;
}

.project__techs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 75%;
    max-width: 300px;
}

.tech-icon {
    height: 40px;
    width: 40px;
    margin: auto;
}

.project__hr {
    display: none;
}


@media screen and (max-width: 800px) {
    .project {
        flex-direction: column-reverse;
        align-items: center;
        margin: 12px;
    }

    .project__info {
        margin-bottom: 20px;
        max-width: 300px;
    }

    .project__title {
        text-align: center;
    }

    .project__techs {
        width: 100%;
    }

    .project__hr {
        background: rgba(92, 155, 223, 0.3);
        display: block;
        margin: 45px 0; 
        width: 100%;
    }
}
